:root {
  --bg-color: #22262b;
  --elem-bg-color: #31343b;
  --logo-color: #5c6066;
  --element-content-color: #89888d;
  --active-menu-item-bg: #41464d;
  --hover-element-content-color: #bfbfc1;
  --hilight-text-color: #dfe0e0;
  --label-color: #89888d;
  --input-bg-color: #1f222a;
  --text-color: #a0a2a4;
  --tag-bg: #45474b;

  --text-font-family: Poppins, Nunito, Verdana, sans-serif;
  --header-font-family: 'Saira ExtraCondensed', 'OpenSans Condensed', Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--bg-color);
  font-size: 0.9em;
  font-family: var(--text-font-family);
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--header-font-family);
}

a {
  text-decoration: none;
}

p {
  color: var(--text-color);
}

select {
  padding: 10px;
  background: var(--input-bg-color);
  color: var(--element-content-color);
  border: 0;
  border-radius: 4px;
  font-size: 1em;
}

label {
  color: var(--label-color);
  padding-right: 10px;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 64px;
  grid-template-rows: 64px 1fr 50px;
  grid-template-areas:
    "header sidenav"
    "main   sidenav"
    "footer sidenav";
    height: 100vh;
}

.header {
  grid-area: header;
  padding: 10px 0 0 10px;
}

.header a {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 0;
}

.site-name {
  display: inline-block;
  font-size: 32px;
  font-weight: 200;
  line-height: 2em;
  margin: 0 0 0 0.25em;
  padding: 0;
}

#logo-playlist #channels {
  fill:none;
  stroke-width: 2.2;
  stroke: var(--logo-color);
}

#logo-playlist #wave {
  fill:none;
  stroke-width: 2;
  stroke: var(--logo-color);
}

header a {
  color: var(--logo-color);
}


/*      Sidenav      */
/*-------------------*/
.sidenav {
  background: var(--elem-bg-color);
  grid-area: sidenav;
}

.sidenav ul, .sidenav li {
  padding: 0;
  width: 100%;
}

.sidenav ul {
  margin: 10px 0 0;
}

.sidenav li {
  margin: 0;
  list-style: none;
}

.menu-item {
  border-radius: 8px;
  text-decoration: none;
  height: 56px;
  width: 56px;
  margin: 4px auto 8px;
  padding: 4px;
}

.sidenav, .menu-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.active .menu-item {
  background: var(--active-menu-item-bg);
  /* border-radius: 8px; */
}

.menu-item:hover {
  background: var(--active-menu-item-bg);
  border-radius: 8px;
}

.menu-item .icon {
  stroke: var(--element-content-color);
}

.menu-item:hover .icon {
  stroke: var(--hover-element-content-color);
}

#icon-channels path {
  fill:none;
  stroke-width: 3;
}


.main {
  grid-area: main;
}

.container-centered {
  margin: 20px auto;
  text-align: center;
}

.page-header {
  width: 800px;
  margin: auto;
  position: relative;
  text-align: left;
}

.page-header h1 {
  font-size: 3em;
  line-height: 1;
  color: var(--active-menu-item-bg);
  margin: 0 0 60px;
}

.page-header a {
  position: absolute;
  right: 0;
  top: 0;
}

.btn-frontal {
  font-size: 2em;
  line-height: 1;
  color: var(--text-color);
  background: var(--elem-bg-color);
  border-radius: 4px;
  padding: 6px 11px;
  margin-top: 2px;
}

.btn-frontal:hover {
  color: var(--hover-element-content-color);
  background: var(--active-menu-item-bg);
}

.component-list {
  margin: 0 auto;
  width: 800px;
}

.box-info {
  background: var(--elem-bg-color);
  margin: 10px auto;
  padding: 10px;
}

.frontal {
  margin-bottom: 60px;
}


.frontal select {
  width: 400px;
  background: var(--logo-color);
  color: var(--bg-color);
  border-radius: 4px 6px 6px 4px;
}

.frontal.search select {
  width: 300px;
}

.custom-select {
  display: inline-block;
  position: relative;
}

.custom-select-arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5em;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background: var(--logo-color);
  pointer-events: none;
}

.custom-select-arrow::after {
  --size: 0.5em;

  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;

  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--bg-color);
}

.search-input {
  background: var(--logo-color);
  color: var(--bg-color);
  border-radius: 4px 0 0 4px;
  border: none;
  font-size: 1em;
  padding: 11px;
  width: 300px;
  margin-right: 0;
  padding-right: 0;
}

.search-input:focus {
  background: var(--element-content-color);
}

.search-button {
  border: 0;
  border-radius: 0 4px 4px 0;
  background: var(--elem-bg-color);
  padding: 8px 20px 4px;
  margin: 0 0 0 -5px;
  cursor: pointer;
  position: relative;
  top: 7px;
}

.search-button:hover {
  background: var(--active-menu-item-bg);
}

.search-button .icon {
  stroke: var(--element-content-color);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.search-button:hover .icon {
  stroke: var(--hover-element-content-color);
}

#icon-search path {
  fill:none;
  stroke-width: 12;
}

.channel-list {
  width: 800px;
  margin: auto;
}

.channel-list > ul {
  padding: 0;
}

.channel-item {
  background: var(--elem-bg-color);
  color: var(--text-color);
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  width: 800px;
}

.channel-item--thumb {
  height: 128px;
  max-width: 128px;
  flex: 1 0 128px;
  padding: 20px;
}

.channel-item--main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  flex: 1 0;
}

.channel-item--main h3 {
  font-family: var(--text-font-family);
  font-size: 1.8em;
  line-height: 1;
  color: var(--hilight-text-color);
  margin: 20px 0 6px;
}

.channel-item--stats,
.channel-item--desc {
  margin-bottom: 12px;
}

.channel-item--main h3 + .channel-item--desc {
  margin-top: 10px;
}

.channel-item--stats dt,
.channel-item--stats dd,
.channel-item--tags dt,
.channel-item--tags dd {
  display: inline-block;
  margin: 0;
}
.channel-item--stats dt,
.channel-item--tags dt {
  color: var(--label-color);
}

.channel-item--stats dd,
.channel-item--tags dd {
  color: var(--hover-element-content-color);
  margin-right: 10px;
}

.channel-item--stats dd,
.channel-item--tags dd:first-of-type {
  margin-left: 5px;
}

.channel-item--desc {
  margin-right: 20px;
}

.channel-item--menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.channel-item--menu > li {
  list-style: none;
  padding: 0 0 0 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.channel-item--menu a {
  color: var(--text-color);
}

.channel-item--menu a:hover,
.channel-item--menu a:active {
  color: var(--hover-element-content-color);
}

.channel-item--tags {
  margin-bottom: 20px;
}

.tag {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--hilight-text-color);
  background: var(--tag-bg);
  padding: 4px 8px;
}

.footer {
  grid-area: footer;
}
