{% macro nav_link(endpoint, name, view_box) %}
{% if request.endpoint.endswith(endpoint) %}
  <li class="active">
    <a class="menu-item" href="{{ url_for(endpoint) }}" title="{{ name }}">
      <svg viewBox="{{ view_box }}" class="icon">
        <use href="#icon-{{ name | lower }}"></use>
      </svg>
    </a>
  </li>
{% else %}
  <li>
    <a class="menu-item" href="{{ url_for(endpoint) }}" title="{{ name }}">
      <svg viewBox="{{ view_box }}" class="icon">
        <use href="#icon-{{ name | lower }}"></use>
      </svg>
    </a>
  </li>
{% endif %}
{% endmacro %}
