{% extends 'layouts/base.html' %}

{% block title %}Playlist - channels{% endblock %}

{% block scripts %}
<script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script defer src="{{ url_for('static', filename='js/channel.js') }}"></script>
<script>
  const data = {{ sources | tojson | safe }};
</script>
{% endblock %}

{% block body %}
<div class="container-centered">
  <div id="vm">
    <section class="page-header">
      <h1>Channels</h1>
      <a href="{{ url_for('channel.search') }}" class="btn-frontal" title="Add new channel">+</a>
    </section>
    <source-select :sources="sources" @change="setSource"></source-select>
    <channels :source="source"></channels>
  </div>
</div>
{% endblock %}
