{% extends 'layouts/base.html' %}

{% block title %}Playlist - channel search{% endblock %}

{% block scripts %}
<script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script defer src="{{ url_for('static', filename='js/channel-search.js') }}"></script>
<script>
  const data = {{ sources | tojson | safe }};
</script>
{% endblock %}

{% block body %}
<div class="container-centered">
  <div id="vm">
    <section class="page-header">
      <h1>Channel search</h1>
    </section>
    <channel-search-form :sources="sources" @search="setSearchData"></channel-search-form>
    <channel-search-list :request="request"></channel-search-list>
  </div>
</div>
{% endblock %}
